*{
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  text-decoration: none;
}

html , body{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after ,body{
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.nav-tabs>li>a{
  color: #1c8eaa !important
}

.dropdown-menu-new {
    min-width: 84px;
    background-color: #0c567f!important;
    color: #fff;
    border: 0;
    padding-top: 4px !important;
    font-family: inherit !important;
}

.dropdown-menu-new>option{
   color: #fff !important;
   text-decoration: none;
   background-color: #0c567f!important;
   border: none !important;
}

.dropdown-menu-new>option:hover, .dropdown-menu>option:focus {
   color: #fff !important;
   text-decoration: none;
   background-color: #202734 !important;
   border: none !important;
}

.footer-new-social{
    bottom: 1px;
}

.footer-sec-new{
       padding: 0 0 20px 0;
}

.footer-one-new{
      padding: 50px 0 0 0;
}

.font-droid{
  font-family: 'DroidKufi' !important;
}

.new-input{
  box-shadow: none !important;
    border: 0 !important;
}

.new-search-btn{
  background: #075179 !important;
    border-color: #075179 !important;
    color: #FFF !important;
}


.new-search-btn:hover ,.new-search-btn:focus{
 background: #075179 !important;
    border-color: #075179 !important;
    color: #FFF !important;
}

.new-input:hover ,.new-input:focus{
  background: transparent !important;
    border-color: none !important;
    color: #FFF !important;
}

.new-btn-more{
  background: #075179 !important;
    border-color: #075179 !important;
    color: #FFF !important;
}

.new-btn-more:hover ,.new-btn-more:focus{
  background: #075179 !important;
    border-color: #075179 !important;
    color: #FFF !important;
}

.owl-text-pad{
  padding-top: 15px !important;
}

.dashboard-banner{

  color: #fff !important;
  padding: 60px 0 !important;
}

.nav>li>a:hover, .nav>li>a:focus{
  color: #5a7138 !important;
}

.course-item-bottom i:hover ,.course-item-bottom i:focus {
  color: #5a7138 !important;
}

.mar-5{
    margin-left: 5px !important;
}

.footer-logo, .about-us-footer {
    top: 0 !important;
}

.new-float {
    float: right;
}

.padding-0{
  padding: 0 15px !important;
}

.social-footer a{
  font-size: 21px !important;
}

table{
  border-collapse: collapse !important;
  width: 100% !important;
}

table ,td ,th{
  border: 1px solid #000;
  text-align: right;
  color: #fff;
  font-weight: bold;
  text-align: justify !important;
  font-size: 15px;
}

th{
  padding: 8px 50px;
}

td{
  padding: 9px;
  color: #0a1323;
}


textarea, input[type="text"], input[type="url"], input[type="email"], input[type="password"], input[type="tel"]{
  font-style: normal !important;
  width: 100%;
}


.new-about i.fa {
    font-size: 18px;
    margin-left: 15px;
    padding: 7px;
}

.login-register-content{
    background: #fff !important;
}

.login-register{
    border-radius: 32px;
    margin: 60px 0 30px 0;
}

.login-register, .financial-assistance-wrapper .financial-assistance-form{
    background: #ebebeb !important;
    margin: 60px 0 40px 0 !important;
}

.login-register .form-field input, .financial-assistance-wrapper .financial-assistance-form .form-field input, .login-register .form-field select, .financial-assistance-wrapper .financial-assistance-form .form-field select, .login-register .form-field textarea, .financial-assistance-wrapper .financial-assistance-form .form-field textarea{
    background-color: #fff !important;
    border: 0;
    border-radius: 8px !important;
    color: #555555;
    font-size: 14px;
    line-height: 35px;
    outline: none;
    box-shadow: none;
}

.login-register .form-field input, .login-register .form-field select{
    border-radius: 8px !important;
    height: 42px !important;
} 

.login-register .action-primary, .financial-assistance-wrapper .financial-assistance-form .action-primary{
    background: #5a7138 !important;
    margin: 30px 172px 0 0;
    border-radius: 10px;
}

.login-register .form-field label, .financial-assistance-wrapper .financial-assistance-form .form-field label{
    display: block;
    margin: 0;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    padding: 0 0 15px 0px;
    font-family: 'DroidKufi' !important;
}

.login-register, .financial-assistance-wrapper .financial-assistance-form{
    padding-left: 30px;
    padding-right: 30px;
}

.login-register .form-type, .financial-assistance-wrapper .financial-assistance-form .form-type, .login-register .toggle-form, .financial-assistance-wrapper .financial-assistance-form .toggle-form{
    box-sizing: border-box;
    max-width: 600px;
    min-width: 250px;
    margin: 0 auto;
    padding: 10px 15px !important;
}

.login-register .form-field .tip{
    display: none !important;
}

.tip tip-input{
    display: none !important;
}

.toggle-form{
    display: none;
}

.login-register-content h2{
    display: none;
}

.login-register .form-field .label-optional{
    display: none;
}


input[type='radio'] + label:before, input[type='checkbox'] + label:before{
    font-family: 'FontAwesome';
    content: "\f096";
    position: relative !important;
    left: 0 !important;
    top: 1px !important;
    color: #999;
    display: inline-block !important;
}

.login-register-content a{
    text-decoration: none !important;
}

.login-register .form-field select{
    border: none;
    outline: solid 1px #fff !important;
    cursor: pointer;
    border-radius: 8px !important;
    height: 42px !important;
}

.login-register-content{
    min-width: 100%;
}

.login-register .form-type{
     min-width: 480px !important;
}

@media (max-width: 991px) {
    .container {
        min-width: 100% !important;
    }
}

#back-to-top a{
    line-height: 18px !important;
    background: #009aae !important;
    border: 1px solid #009aae;
}

.login-register .action-primary{
    height: 45px !important;
    padding-top: 0 !important;
}

.dashboard .my-courses .wrapper-header-courses{
    text-align: center !important;
    font-family: 'DroidKufi' !important;
}

.empty-dashboard-message a{
    font-family: 'DroidKufi' !important;
}

.wrapper-msg .msg-content .title{
    font-family: 'DroidKufi' !important;
}

.wrapper-msg.urgency-high{
    background: #0079bc !important;
}

.wrapper-msg .msg-content .copy p{
    font-family: 'DroidKufi' !important;
}

.dashboard .my-courses .wrapper-header-courses .header-courses{
    font-family: 'DroidKufi' !important;
}

.dashboard .my-courses{
     text-align: center !important;
     display: inline !important;
     font-family: 'DroidKufi' !important;
     width: 100% !important;
}

.empty-dashboard-message p{
     margin-bottom: 40px !important;
     padding-top: 10px !important;
}


@media (max-width: 767px){
   .slicknav_menu {
        position: absolute !important;
        top: 70px !important;
        left: 0 !important;
        right: 0 !important;
        background: none !important;
        z-index: 1000 !important;
    }

    .slicknav_nav{
        text-align: center !important;
    }
}


@media only screen and (max-width: 991px){
  .slicknav_menu {
        display: block;
    }

}

.slicknav_menu{
     top: 3px 1important;
}

.slicknav_btn.slicknav_open:before, .slicknav_btn.slicknav_collapsed:before{
      font-size: 25px !important;
      color: #080000 !important;
      position: relative !important;
      top: 0 !important;
      z-index: 10000 !important;
}


.font-english{
  font-family: sans-serif !important;
}

.slicknav_btn.slicknav_collapsed{
    float: right !important;
}

.nav-tabs>li.active>a{
     color: #1c8eaa !important;
}

.btn-primary {
    background: #0075b4 !important;
    border-color: #0075b4 !important;
    color: #FFF !important;
}
















