<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

  <!--/********************************************delete here **************************************************************/-->




		<div class="main-wrapper scrollspy-container">
		
			<div class="breadcrumb-wrapper text-center">
			
				<div class="container padding-0">
					
					<h2 class="page-title font-droid">${_("FAQ")}</h2>
					
					
				</div>

			</div>
  

       <div id="partners">
                <div class="container">
                    <div class="row">
                       <div class="col-xs-12">
                           <h5 class="new-about pt-30 font-droid"><i class="fa fa-snowflake-o"></i>${_("How can I create my own account on Will?")} </h5>
                           <h6 class="pt-15 font-droid">${_("To start learning for life, create an account on the platform and activate it by following these steps:")} </h6>
                           <p class="font-droid">١- ${_("Create your own account on the site by filling out all the required fields on")} <a href="#">${_("the registration page")}</a> ${_("and clicking the Create Account button.")}</p>
                           <p class="font-droid">٢- ${_("Activate your account by checking the e-mail provided on the registration page.")} </p>

                          <p class="warning font-droid"><span class="fa fa-exclamation-circle"></span> ${_("Note: If you do not find the message in the inbox, check out the spam / unsolicited messages or junk mail.")}</p>
                       </div>

                       <div class="col-xs-12">
                           <h5 class="new-about font-droid"><i class="fa fa-snowflake-o"></i>${_("Can I change the language of Erada platform?")}</h5>
                           <p class="font-droid">${_("You can change the language of Erada platform to English or Arabic in the home page.")}</p>
                           <p class="font-droid">${_("To change your language, click the language next to the listing (in the top corner)")}</p>
                       </div>


                       <div class="col-xs-12">
                           <h5 class="new-about font-droid"><i class="fa fa-snowflake-o"></i> ${_("What if I am having login problems or forgot my password?")}</h5>
                           <p class="font-droid">${_("If you see an email or password incorrect message, make sure that the email address you entered is the one that you registered for your Edara account.")}</p>
                           <p class="font-droid">${_("If you continue to see this message, try changing your password: click Forgot Password.")}</p>

                           <p class="faq-font font-droid">${_("If you clicked Forgot Password but have not received an email message with a link to reset your password check for these common problems:")}</p>
                            <ul class="ul-style">
                             <li><p class="faq-font font-droid">${_("Is your email address entered correctly on the sign in page? Check for errors and try again.")}</p></li>
                             <li><p class="faq-font font-droid">${_("Did you enter the same email address that you used to register your Erada account? Reset messages are sent only to registered email addresses.")}</p></li>
                             <li><p class="faq-font font-droid">${_("Did you check your spam message folders? Check your spam folder for a message from")} <a href="#">http://edx.mu.edu.sa/register؟next=٪2F</a></p></li>
                             <li><p class="faq-font font-droid"> ${_("If the message is not there, try adding no-reply@mu.edu.sa to your contacts or your approved senders list, and then reset your password again.")}</p></li>
                             <li><p class="faq-font font-droid">${_("Did you complete the account registration process for Erada? To check, try registering again with the same email address. If the account does exist, a message will indicate that you entered a duplicate email address.")}</p></li>
                            </ul>

                           <p class="faq-font font-droid">${_("If you see a different error when trying to sign in, check for these common problems.")}</p>
                             <ul class="ul-style">
                                 <li><p class="faq-font font-droid"> ${_("Make sure that you are using a current version of Firefox or Chrome.")}</p></li>
                                 <li><p class="faq-font font-droid"> ${_("Make sure that you have cookies and JavaScript enabled.")}</p></li>
                                 <li><p class="faq-font font-droid">${_("Try clearing your browser's cache.")}</p></li>

                             </ul>
                       </div>

                    </div>
                </div>
            </div>
		</div>















<!--/**********************************************end delete************************************************************************-->
