<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

  <!--/********************************************delete here **************************************************************/-->




		<div class="main-wrapper scrollspy-container">

            <div id="partners">
                <div class="container div-about-ne-padding">
                    <div class="row">


                          <h6 class="text-center">لمشاركة المحتوى الرقمي على منصة جامعة المجمعة يجب أن يراعي المحتوى الرقمي المواصفات والمعايير  العامة بمنصة EDX  وهي كالتالي:</h6>

                       <div class="col-xs-12">
                       		<div class="row">

                            <div class="col-xs-12">
                                <table>
                                  <tr class="dark-blue">
                                    <th>م</th>
                                    <th>المعيار</th>
                                    <th>توافر المعيار</th>
                                  </tr>

                                  <tr class="scnd-blue">
                                    <td class="t-m-font" colspan="3">قائمه تطوير مقررات  MOOC</td>
                                  </tr>

                                  <tr class="new-blue">
                                    <td>1-1</td>
                                    <td>إعلان ومقدمة الدورة:</td>
                                    <td></td>
                                  </tr>

                                   <tr>
                                    <td>1-1-1</td>
                                    <td>تحديد المتطلبات الأساسية وخلفية المتعلمين.</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>1-1-2</td>
                                    <td>تحديد الوقت المتوقع الملتزم به المتعلمين.</td>
                                    <td></td>
                                  </tr>


                                  <tr>
                                    <td>1-1-3</td>
                                    <td>مقدمة المعلم تتاح على الصفحة.</td>
                                    <td></td>
                                  </tr>


                                  <tr>
                                    <td>1-1-4</td>
                                    <td>مقدمة لمتطلبات الدورة للمتعلمين MOOC Demo أو مقدمة المنصة المدرجة في التبويب "المناهج التعليمية".</td>
                                    <td></td>
                                  </tr>


                                  <tr>
                                    <td>1-1-5</td>
                                    <td>يوجد حث للمتعلم عن كيفية بدء الدورة فى صفحة المعلومات الرئيسيه عن الدورة.</td>
                                    <td></td>
                                  </tr>


                                  <tr class="new-blue">
                                    <td>1-2</td>
                                    <td> تركيب / بناء الدورة:</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>1-2-1</td>
                                    <td>جدول / الخطة الزمنية للدوره ( مواضيع الدورة والتواريخ المهمة شاملة الامتحانات)</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>1-2-2</td>
                                    <td>المعايير المصنفة ومتطلبات الشهادة فى الدورة.</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>1-2-3</td>
                                    <td>أهداف التعلم والتخرج من الدورة.</td>
                                    <td></td>
                                  </tr>

                                  <tr class="new-blue">
                                    <td>1-3</td>
                                    <td>الوسائل التعليمية ووسائل التقييم:</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>1-3-1</td>
                                    <td>احتواء الدورة على فيديوهات وتمارين.</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>1-3-2</td>
                                    <td>احتواء الدورة على وسائل تقييمية مثل تمارين / واجبات منزلية / امتحانات وتخضع للتقييم والدرجات.</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>1-3-3</td>
                                    <td>تحديد موعد نهائى للتقييم.</td>
                                    <td></td>
                                  </tr> 


                                  <tr class="new-blue">
                                    <td>1-4</td>
                                    <td>إداره الدورة ومشاركة المتعلم:</td>
                                    <td></td>
                                  </tr> 

                                  <tr>
                                    <td>1-4-1</td>
                                    <td>إرسال رسالة إلكترونية ترحيب للمتعلمين.</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>1-4-2</td>
                                    <td>إرسال رسائل إلكترونية خلال الدورة.</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>1-4-3</td>
                                    <td>الإنتهاء من إرسال الرسائل الإلكترونية بنهاية الدورة.</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>1-4-4</td>
                                    <td>فريق الدورة يقدم منتدى Forum moderation.</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>1-4-5</td>
                                    <td>كتيب إرشادات يشرح استخدام المنتديات.</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>1-4-6</td>
                                    <td>تحميل شرح كيفية المساعدة فى موضوعات المتعلمين.</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>1-4-7</td>
                                    <td>ملائمه المحتوى لتغيرات المنهج المعلنة مسبقًا.</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>1-4-8</td>
                                    <td>رساله ترحيب فى صفحة المعلومات المقدمة ببداية الدورة.</td>
                                    <td></td>
                                  </tr>

                                  <tr class="scnd-blue t-m-font">
                                    <td colspan="3">قائمه تطوير MOOC  وأفضل طرق الممارسة:</td>
                                  </tr>

                                  <tr class="new-blue">
                                    <td>2-1</td>
                                    <td>الاعلان عن الدورة والمقدمة:</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>2-1-1</td>
                                    <td>فيديو تقديمى / ترحيبى</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>2-1-2</td>
                                    <td>تقييم للنفس اختيارى بشرط أن يحدد الاحتياجات الأساسية والمتطلبات للحصول على الشهادة.</td>
                                    <td></td>
                                  </tr>

                                   <tr class="new-blue">
                                    <td>2-2</td>
                                    <td>تركيب وبناء الدورة</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>2-2-1</td>
                                    <td>سياسة أكاديمية / تعليمات وإرشادات مشتركة ترفق بالدورة.</td>
                                    <td></td>
                                  </tr>

                                   <tr class="new-blue">
                                    <td>2-3</td>
                                    <td>الوسائل التعليمية ووسائل التقييم:</td>
                                    <td></td>
                                  </tr>

                                <tr class="new-blue">
                                    <td>2-3-1</td>
                                    <td>المواصفات الفنية لجوده الفيديوهات:</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>2-3-1-1</td>
                                    <td>الحفاظ على قصر الفيديو بقدر الإمكان حيث أن هناك احتمال كبير أن الطلبة لا يكملون مشاهدة الفيديو إذا زاد طوله عن 3 – 10 دقائق.</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>2-3-1-2</td>
                                    <td>الفيديو المنتج يجب أن يكون ذو إضاءة جيدة وليس بصورة غامقة على الشاشة تجعل من الصعب رؤية ملامح الأشياء المعروضة بالفيديو.</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>2-3-1-3</td>
                                    <td>كل المشاهد يجب أن تكون مصاغة جيدًا و ذو تركيز واضح لشد انتباه المشاهد وليس لإبعاده.</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>2-3-1-4</td>
                                    <td>صوره الفيديو يجب أن تكون ثابتة ليست مهزوزه ويمكن استخدام الحامل الثلاثى إذا كان متاحاً للتقليل من "اهتزاز الكاميرا" وإذا لم يستخدم هذا الحامل الثلاثى يجب من التقليل من اهتزاز الكاميرا بقدر الإمكان.</td>
                                    <td></td>
                                  </tr>

                                   <tr>
                                    <td>2-3-1-5</td>
                                    <td>كل العناوين والنصوص المضافة للفيديو يجب أن تخضع للمراجعة والتصحيح من حيث النحو والأخطاء الكتابية والأخطاء المطبعية حيث أنه ليس من المقبول الاستخدام الضعيف حيث سيتطلب ذلك إعادة إنتاج هذا الجزء من الفيديو.</td>
                                    <td></td>
                                  </tr>

                                   <tr>
                                    <td>2-3-1-6</td>
                                    <td>أى رسوم بيانية ثابتة أو صور متحركة مضافة يجب أن تكون حرفية ودقيقة وضرورية لرسالة الفيديو، كما انها يجب أن تكون هذه الصور واضحة وصافية وغير مشوهة وتلائم الشاشة.</td>
                                    <td></td>
                                  </tr>

                                   <tr>
                                    <td>2-3-1-7</td>
                                    <td>كل المؤثرات يجب أن تضاف لرسالة الفيديو وتكون واضحة وملساء ليست حادة ولا متقطعة أو متقلبة.</td>
                                    <td></td>
                                  </tr>

                                   <tr>
                                    <td>2-3-1-8</td>
                                    <td>كل القواطع بالفيديو يجب أن تعالج لكى يبدو الفيديو غير ملحوم من البداية للنهاية.</td>
                                    <td></td>
                                  </tr>

                                   <tr>
                                    <td>2-3-1-9</td>
                                    <td>بالنسبة إلى مقاطع الفيديو التي تعرض اللوحات والأحداث والمتحدثين يُقدم نسخة منها على وجه الخصوص للاستخدام عبر الإنترنت. على سبيل المثال تقليم أو قطع مقدمة طويلة حيث يرغب جمهور الإنترنت في رؤية الجذب الرئيسي. </td>
                                    <td></td>
                                  </tr>

                                   <tr class="new-blue">
                                    <td>2-3-2</td>
                                    <td>المواصفات الفنية لجوده الصوت:</td>
                                    <td></td>
                                  </tr>

                                   <tr>
                                    <td>2-3-2-1</td>
                                    <td> يجب أن يكون الصوت مسموعاً بشكل مستمر طوال مدة الفيديو.</td>
                                    <td></td>
                                  </tr>

                                   <tr>
                                    <td>2-3-2-2</td>
                                    <td>يجب أن تكون جميع الملفات الصوتية مفهومة بوضوح طوال مدة الفيديو.</td>
                                    <td></td>
                                  </tr>

                                   <tr>
                                    <td>2-3-2-3</td>
                                    <td>يجب أن تكون جميع الملفات الصوتية خالية من ضوضاء الخلفية، والفواصل، والتخطيات، والهسهسة، وما إلى ذلك.</td>
                                    <td></td>
                                  </tr>

                                   <tr>
                                    <td>2-3-2-4</td>
                                    <td>إذا كان هناك أكثر من متكلم واحد، لا يجب أن يكون صوت إحداهما أعلى من الأخر مع مراعاة نظرية الحمل المعرفي السمعي.</td>
                                    <td></td>
                                  </tr>


                                   <tr>
                                    <td>2-3-2-5</td>
                                    <td>استخدام أساليب إنتاج فني قبلى وبعدى تعزز المحتوى التعليمى.</td>
                                    <td></td>
                                  </tr>


                                   <tr>
                                    <td>2-3-2-6</td>
                                    <td>تحديد الوسائل المطلوبة والوسائل الاختيارية داخل الدورة.</td>
                                    <td></td>
                                  </tr>


                                   <tr>
                                    <td>2-3-2-7</td>
                                    <td>تتيح الدورة نصوص وملاحظات وقراءات عبر الانترنت.</td>
                                    <td></td>
                                  </tr>


                                   <tr>
                                    <td>2-3-2-8</td>
                                    <td>توفير نسخ من الوسائل التقديمية المستخدمة بالفيديو خلال الدورة.</td>
                                    <td></td>
                                  </tr>


                                   <tr>
                                    <td>2-3-2-9</td>
                                    <td>الربط بين الفيديوهات والتمارين والنصوص المستخدمة بالدورة.</td>
                                    <td></td>
                                  </tr>


                                   <tr>
                                    <td>2-3-2-10</td>
                                    <td>احتواء الدورة على التفاعل مثل المعامل الإفتراضية أو الرسوم المتحركة المسيطر عليها من المستخدم.</td>
                                    <td></td>
                                  </tr>

                                   <tr class="new-blue">
                                    <td>2-4</td>
                                    <td>إداره الدورة ومشاركة المتعلم:</td>
                                    <td></td>
                                  </tr>

                                   <tr>
                                    <td>2-4-1</td>
                                    <td>استخدام ويكى لإشتراك المتعلمين.</td>
                                    <td></td>
                                  </tr>


                                   <tr>
                                    <td>2-4-2</td>
                                    <td>تشجيع المتعلمين لإستخدام منتديات المناقشة لتقديم أنفسهم.</td>
                                    <td></td>
                                  </tr>


                                   <tr>
                                    <td>2-4-3</td>
                                    <td>توفر الدورة المواد الدرساية للمتعلمين بمجرد إنتهاء الدورة وحفظها.</td>
                                    <td></td>
                                  </tr>


                                   <tr>
                                    <td>2-4-4</td>
                                    <td>تقييم المتعلمين للدورة فى بداية وأثناء ونهاية الدورة.</td>
                                    <td></td>
                                  </tr>


                                   <tr>
                                    <td>2-4-5</td>
                                    <td>تزويد الويكى بأسئلة وأنشطة المتعلمين مسبقًا.</td>
                                    <td></td>
                                  </tr>


                                   <tr>
                                    <td>2-4-6</td>
                                    <td>المقررات الإلكترونية بالمنصة تعمل بكفاءة على الأجهزة النقالة.</td>
                                    <td></td>
                                  </tr>


                                   <tr>
                                    <td colspan="3" class="dark-blue"></td>
                                  </tr>

                                </table>
                            </div>


	                       </div>
                       </div>
                    </div>
                </div>
            </div>

		</div>















<!--/**********************************************end delete************************************************************************-->
