<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Explore courses")}</%block>

  <!--/********************************************delete here **************************************************************/-->



  	<div class="text-center">
  		
  		<div class="container">
  			<div class="row">
  				
          <div class="col-xs-12 empty-div hidden-xs"></div>

	  			<div class="col-xs-12">
	  				<div class="text-border">
	  					<h3 class="font-droid">${_("There are no new courses")}</h3>
	  				</div>
	  			</div>

          <div class="col-xs-12 empty-div hidden-xs"></div>

  			</div>
  		</div>


   	</div>
		


<!--/**********************************************end delete************************************************************************-->
